@import 'var-extend.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $fonts;
    color: $fontGrey;
}

//Modal background
.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

//Modal box position (centered in the page)
.center-block {
    position: fixed;
    z-index: 999;
    height: 50%;
    width: 50%; //    min-width: 650px;
    //    min-height: 454px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

// Modal content 
.modal-content {
    @extend %rowFlex;
    background-color: #FFFFFF;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 650px;
    height: 454px;
}

p,
div p {
    font-size: 13px;
    margin: 0;
}

//Select clinic field START
.selectClinic {
    width: 42%;
    padding-top: 20px; //    padding-left: 30px;
    border-right: $main-border;
}

.spaceLeft {
    padding-left: 30px;
}

//Blur line after header
.select-header::after {
    @extend %blur-line;
    width: 100%;
}

.clinics {
    padding-bottom: 22px;
    padding-top: 21px;
    border-bottom: $main-border;
    @extend %rowFlex;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        border-right: $blue-border;
        border-left: $blue-border;
    }
    img {
        width: 17.2%;
        height: 15%;
    }
}

.darker {
    font-weight: bolder;
    font-size: 16px;
}

//Select clinic field END
//Select date field START
.selectDate {
    width: 58%;
    color: $fontGrey;
    padding-top: 20px;
}

.space-left-right {
    padding-left: 22px;
    padding-right: 22px;
}

.alignX {
    @extend %rowFlex;
    justify-content: $spaceB;
}

// START Close button 
.close {
    color: $transpGrey;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info {
    @extend %rowFlex;
}

.alignP {
    padding-left: 5px;
}

//END Close button
.selectP {
    font-size: 28px;
    color: $blue;
}

//START Calendar
section.month {
    overflow: hidden;
    display: block;
    float: left;
    height: auto;
}

//start calendar header
header {
    position: relative;
    @extend %rowFlex;
    justify-content: $spaceB;
    padding-top: 10px;
    //    padding-bottom: 5px;
}

.calendar-row {
    @extend %rowFlex;
    justify-content: $spaceB;
}

header h1 {
    margin: 0;
    font-size: 16px;
    color: $fontGrey;
}

h1::before,
h1:after {
    content: " ";
    white-space: pre;
}

header > img:first-child:hover {
    border-left: $slim-border;
}

header > img:last-child:hover {
    border-right: $slim-border;
}

//end calendar header
.days {
    padding-top: 4px;
    padding-bottom: 10px;
}

.article p,
.article span {
    display: block;
    float: left;
    width: 58px;
    height: 42px;
    margin: 4px;
    text-align: center;
}

small {
    font-size: 13px;
    color: $transpGrey;
}

.article {
    //    padding: 6px 0 25px 25px;
    padding-top: 15px;
    span {
        font: 300 13px/45px $fonts;
        box-shadow: $shadows #d9dce5;
        border-radius: 4px;
        cursor: pointer;
    }
    span.disable {
        color: #CCCCCC;
        box-shadow: $shadows #f3f4f7;
    }
    span:hover {
        @extend %backgr;
    }
    p {
        font-size: 21px;
        color: $blue;
        display: flex;
        flex-direction: column;
    }
    div {
        display: block;
        overflow: hidden;
        clear: both;
    }
}

//Class added onclick with jquery
.clicked {
    @extend %backgr;
    color: white;
}

//    dropdown calendar content
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li:hover > a,
li a:active {
    background-color: $blue;
    color: white;
    border-radius: 4px;
}
li a{
    text-decoration: none;
    color: $fontGrey;
}
ul li ul li {
    float: none;
    display: none;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul li:hover ul li {
    display: block;
}

.dropdown-content {
    position: absolute;
}

.dropdown-content a {
    padding: 10px;
    text-align: left;
}
