$fonts: 'Open Sans';
$transpGrey: #BBBBBB;
$fontGrey: #333333;
$blue: #15498F;
$main-border: 1px solid #DDDDDD;
$blue-border: 10px solid $blue;
$slim-border: 3px solid $blue;
$shadows: inset 0 0 1px 1px;
$spaceB: space-between;

%backgr{
    background: $blue;
    color: #FFFFFF;
}

%rowFlex {
    display: flex;
    flex-direction: row;
}

%blur-line {
    content: "";
    display: block;
    margin-right: 10%;
    margin-right: 20px;
    border-top: 1px solid #DDDDDD; //    box-shadow: 0 2px 8px rgba(0, 0, 0, 5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-top: 18px;
}